*lib
*bin
*include
*.Python
*db.sqlite3
*omissis.py
*.pyc
*pip-selfcheck.json
*migrations/
.DS_Store
legionella/frontend/build/
legionella/media
legionella/test_log.log
legionella/legionellaapp.log
geckodriver.log


build-*
